<!DOCTYPE html>
<html ng-app="instituteApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">
    <title>Institute Form</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Less page flicker by putting this script at top -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.js"></script>
</head>


<body ng-controller="RootCntrl">
<nav>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container" ng-cloak>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ng-href="/">San Antonio Institute</a>
            </div><!-- /.navbar-header -->
            <div class="navbar-collapse collapse">  
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">{{ user.firstname }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li ng-show="user.accesslvl > 1 &amp;&amp; !isLocationAdmin"><a href="/admin">Admin</a></li>
                            <li ng-show="isLocationAdmin"><a href="/">Student View</a></li>
                            <li><a ng-click="logoff()">Log out</a></li>
                        </ul><!-- /.dropdown-menu -->
                    </li><!-- /.dropdown -->
                    <li ng-hide="user.class.name"><a href='#'>Enroll in a Class</a></li>
                    <li class="dropdown">
                        <a ng-show="user.class.name" 
                        href="#" class="dropdown-toggle" 
                        data-toggle="dropdown">{{ menuType }}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="item in menuItems"><a ng-href="{{ item.href }}">{{ item.name }}</a></li>
                        </ul><!-- /.dropdown-menu -->
                    </li><!-- /.dropdown -->
                </ul><!-- /.nav navbar-nav -->
            </div><!--/.nav-collapse collapse -->
        </div><!-- /.container -->
    </div><!-- /navbar navbar-default navbar-fixed-top -->
</nav>

<div class="container" id="container">
    <div ng-view></div>
</div> <!-- /container -->

<footer>

</footer>

<script src="http://fgnass.github.io/spin.js/dist/spin.min.js"></script>
<script>
    // Create global spinner.. Accesible from ANYWHERE. boom.
    window.spinner = new Spinner({
        lines: 9, // The number of lines to draw
        length: 7, // The length of each line
        width: 4, // The line thickness
        radius: 7, // The radius of the inner circle
        corners: 2, // Corner roundness (0..1)
        rotate: 0, // The rotation offset
        direction: 1, // 1: clockwise, -1: counterclockwise
        color: '#fff', // #rgb or #rrggbb or array of colors
        speed: 1.2, // Rounds per second
        trail: 60, // Afterglow percentage
        shadow: true, // Whether to render a shadow
        hwaccel: true, // Whether to use hardware acceleration
        className: 'spinner', // The CSS class to assign to the spinner
        zIndex: 2e9, // The z-index (defaults to 2000000000)
        top: 'auto', // Top position relative to parent in px
        left: 'auto' // Left position relative to parent in px
    });

    // Call 'start' method to have it added to center pannel automatically
    window.spinner.start = function() {
        this.spin(document.getElementById('container'));
    };
    window.spinner.start();
</script>
<script src="/js/lib/jquery-1.10.2.js"></script>
<script src="http://code.angularjs.org/1.0.0rc10/angular-cookies-1.0.0rc10.js"></script>
<script src="http://code.angularjs.org/1.2.0-rc.2/angular-route.min.js"></script>
<script src="https://datejs.googlecode.com/svn/trunk/build/date-en-US.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="/js/lib/ui-bootstrap-tpls-0.6.0.js"></script>
<script src="/angular/scripts/routing.js"></script>
<script src="/angular/scripts/controllers.js"></script>
<script src="/angular/scripts/admincontrollers.js"></script>
<script src="/angular/scripts/filters.js"></script>
<script src="/angular/scripts/directives.js"></script>
<script>
    window.spinner.stop();
</script>
</body>
</html>
