/* Put your CSS here */
html, body {
    margin: 0;
    background: url(../images/bg.png) repeat;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight:300;
    text-align: left;
    text-decoration: none;
}

blockquote {
    background-color: lightsteelblue;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
}

.smalllink {
    font-size: 70%;
    color: darkslateblue;
}

.fancypanel {
    width: 370px;
    margin: 0 auto;
    padding: 20px;
    position: relative;

    background: #f3f3f3;
    border: 1px solid #fff;
    border-radius: 5px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.menuCntrl {
    display: flex;
    margin: 10px 10px 10px auto;
    width: 90%;
    text-align: right;
}

.fancypanel .list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0px;
}

.fancypanel li {
    margin: 20px 0;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

    .fancypanel {
        width: 83%;
    }


    .fancypanel textarea {
        display: flex;
        width: 95%;
    }

}