@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
.nav, .pagination, .carousel a { cursor: pointer; }

body { 
    padding-top: 65px; 
}

.modal {
    padding-top: 10% !important;
}

#accordion .panel-heading  {
    cursor: pointer;
}

.flowlist li {
    list-style-type: none;
    display: block;
    padding: 5px 10px 10px 0px;
    margin: 0;
}

.sub {
    font-weight: 300;
    color: #888888;
}

.well-info {
    border-color: #c3d8f1;
    background-color: #eef2f7;
}