<subtitle>Submit Study Card</subtitle>
<div class=''>
    
    <form  name="studyCardForm" ng-submit="submit()">
        
        <!-- Class -->
        <div class="form-group row">
            <div class='col-xs-3'>
                <select id='institute-classes' class="form-control" name="class" ng-model="studycard.class_id">
                    <option value="" selected>- Select Class -</option>
                    <option ng-repeat="class in classes" value="{{ class.id }}">{{ class.name }}</option>
                </select>
            </div><!-- /.col-$screen-$percent -->
        </div><!-- /.form-group row -->

        <div class="form-group row">
                <label for='frequency' class="control-label">How many days did you read?</label>
                <input id='frequency' class='form-control' 
                    type="number" ng-model="studycard.frequency" placeholder="0-7" max="7" min="0" required>
             </div>
       


        <div class="form-group row">

                <div class="input-group ig-no-border">
                    <span class="input-group-addon">
                        <input id='prepare' type="checkbox" ng-model="studycard.prepare">
                    </span>
                    <label for='prepare' class="form-control">Did you prepare before you read?</label>
                </div><!-- /input-group -->
        </div>


        <div class="form-group row">
            <div class="input-group ig-no-border">
                <span class="input-group-addon">
                    <input id='seek' type="checkbox" ng-model="studycard.seek">
                </span>
                <label for='seek' class="form-control">Did you seek while you read?</label>
            </div><!-- /.col-lg-4 -->
        </div>

        <div class="form-group row">
                <div class="input-group ig-no-border">
                    <span class="input-group-addon">
                        <input id='do' type="checkbox" ng-model="studycard.do">
                    </span>
                    <label for='do' class="form-control">Did you do what you read?</label>
                </div><!-- /input-group -->
        </div>

        <div class="form-group row">
                <div class="input-group ig-no-border">
                    <span class="input-group-addon">
                        <input id='teach' type="checkbox" ng-model="studycard.teach">
                    </span>
                    <label for='teach' class="form-control">Did you teach what you read?</label>
                </div><!-- /input-group -->
        </div>

        <div class="form-group row">
                <div class="input-group ig-no-border">
                    <span class="input-group-addon">
                        <input id='block' type="checkbox" ng-model="studycard.block">
                    </span>
                    <label for='block' class="form-control">Did you read the assigned block?</label>
                </div><!-- /input-group -->
        </div>

       

        <!-- Thoughts & Comments -->
        <div class="form-group row">
            <label for='comments' class='control-label'>Thoughts &amp; feelings</label>
            <textarea id='comments' class='form-control' rows="3" ng-model="studycard.notes"> </textarea>
        </div><!-- /.form-group row -->


        <input type="submit" class="btn btn-primary">
    </form>

</div><!-- /.jumbotron -->