<subtitle>Submit Study Card</subtitle>
<section class="col-xs-12">

    <form name="studyCardForm" ng-submit="submit()" role="form">
        
        <!-- Class -->
        <div class="form-group row">
            <div>
                <select id='institute-classes' class="form-control" name="class" ng-model="studycard.class_id" required>
                    <option value="" selected>- Select Class -</option>
                    <option ng-repeat="class in classes" value="{{ class.id }}">{{ class.name }}</option>
                </select>
            </div><!-- /.col-$screen-$percent -->
        </div><!-- /.form-group row -->

        <div class="form-group row">
                <input id='frequency' class='form-control' style="width:65px; display: inline;"
                       type="number" ng-model="studycard.frequency" placeholder="0-7" max="7" min="0" required>
            <label for='frequency' class="control-label" style="display:inline; margin-left: 5px">How many days did you read?</label>
        </div>

        <div class="form-group row">
            <div class="input-group ig-no-border">
                    <span class="input-group-addon">
                        <input id='block' type="checkbox" ng-model="studycard.block">
                    </span>
                <label for='block' class="form-control">Did you read the assigned block?</label>
            </div><!-- /input-group -->
        </div>

        <div class="form-group row">

                <div class="input-group ig-no-border">
                    <span class="input-group-addon">
                        <input id='prepare' type="checkbox" ng-model="studycard.prepare">
                    </span>
                    <label for='prepare' class="form-control">Prepare
                        <button type="button" class="btn btn-link" tooltip-placement="right"
                                tooltip="Did you prepare before reading your scriptures? Examples: praying, clean/quiet environment, read with questions, etc.">
                            <span class="glyphicon glyphicon-info-sign" ></span>
                        </button>
                    </label>

                </div><!-- /input-group -->
        </div>


        <div class="form-group row">
            <div class="input-group ig-no-border">
                <span class="input-group-addon">
                    <input id='seek' type="checkbox" ng-model="studycard.seek">
                </span>
                <label for='seek' class="form-control">Seek
                    <button type="button" class="btn btn-link" tooltip-placement="right"
                            tooltip="Did you seek as you read the scriptures? Examples: feasting not just reading, taking notes, using references, etc.">
                        <span class="glyphicon glyphicon-info-sign" ></span>
                    </button>
                </label>
            </div><!-- /.col-lg-4 -->
        </div>

        <div class="form-group row">
                <div class="input-group ig-no-border">
                    <span class="input-group-addon">
                        <input id='do' type="checkbox" ng-model="studycard.do">
                    </span>
                    <label for='do' class="form-control">Do
                        <button type="button" class="btn btn-link" tooltip-placement="right"
                                tooltip="Did you do the things you learned from your scripture reading? Examples: applying principles to your life, serve others, be humble, etc.">
                            <span class="glyphicon glyphicon-info-sign" ></span>
                        </button>
                    </label>
                </div><!-- /input-group -->
        </div>

        <div class="form-group row">
                <div class="input-group ig-no-border">
                    <span class="input-group-addon">
                        <input id='teach' type="checkbox" ng-model="studycard.teach">
                    </span>
                    <label for='teach' class="form-control">Teach
                        <button type="button" class="btn btn-link" tooltip-placement="right"
                                tooltip="Did you teach what you learned from the scriptures? Examples: discussion with friend, social media outlet, chastising little children, etc.">
                            <span class="glyphicon glyphicon-info-sign" ></span>
                        </button>
                    </label>
                </div><!-- /input-group -->
        </div>

        <!-- Thoughts & Comments -->
        <div class="form-group row">
            <label for='comments' class='control-label'>Thoughts &amp; questions
                <button type="button" class="btn btn-link" tooltip-placement="right"
                        tooltip="Comments may be reviewed by the teacher.">
                    <span class="glyphicon glyphicon-info-sign" ></span>
                </button>
            </label>
            <textarea id='comments' class='form-control' rows="3" ng-model="studycard.notes"> </textarea>
        </div><!-- /.form-group row -->


        <input type="submit" class="btn btn-primary">
    </form>

</section>