<div>
    <subtitle>Admin - {{className}}</subtitle>

    <section class="border-thin">
        <div class="title">Class Averages</div>
        <ul class="flowlist">
            <li><strong>Frequency</strong>: {{ averages.frequency }} (mean)</li>
            <li><strong>Quality</strong>: {{ averages.quality }} (mean)</li>
            <li><strong>Read Block</strong>: {{ averages.percentRead }}%</li>
        </ul>
    </section>
    <br>


    <accordion>
        <accordion-group  heading="Week {{ $index+1 }}"  ng-repeat="studyCards in studyCardArray">

            <ul class="list">
                <li>Class: <strong>{{ studyCards[0].class_id }}</strong></li>
                <li>Frequency of read: <strong>{{ studyCards[0].frequency }}</strong></li>
                <li>Quality of Study: <strong>{{ studyCards[0].quality }}</strong></li>
                <li>Read Assigned Block: <strong>{{ studyCards[0].assignedBlock | yesno }}</strong></li>
                <li ng-show="studyCards[0].notes">Thoughs & Feelings: </li>
            </ul>
            <blockquote ng-show="studyCards[0].notes">{{ studyCards[0].notes }}</blockquote>
        </accordion-group>
    </accordion>


</div>