<div id="spinnn">
    <subtitle>Admin - {{className}}</subtitle>

    <section class="border-thin">
        <div class="title"><strong>Class Averages</strong></div>
        <ul class="flowlist">
            <li>Frequency: <strong>{{ classAverages.frequency }}</strong></li>
            <li>Quality: <strong>{{ classAverages.quality }}</strong></li>
            <li>Read Assigned Block: <strong>{{ classAverages.percentRead }}%</strong></li>
        </ul>
    </section>
    <br>


    <accordion>
        <accordion-group ng-repeat="studyCardForWeek in studyCardArray">
            <accordion-heading>Week {{ $index+1 }}</accordion-heading>
            <ul class="flowlist">
                <li>Frequency: <strong>{{ weekAvg[$index].frequency }}</strong></li>
                <li>Quality: <strong>{{ weekAvg[$index].quality }}</strong></li>
                <li>Read Assigned Block: <strong>{{ weekAvg[$index].percentRead }}%</strong></li>
            </ul>
        </accordion-group>
    </accordion>


</div>