<!-- NOTE: THIS FILE IS USED FOR BOTH NEW AND EDIT -->
<subtitle>Admin - {{ action }} Class</subtitle>

<section>
    <form ng-submit="confirmSubmit()" role="form">
        <div class="form-group">
            <label>Class name</label>
            <input type="text" id="className" ng-model="class.name" class="form-control" placeholder='Book of Mormon' required>
        </div>

        <div class="form-group">
            <label>Day</label>
            <select id='day' class="form-control" name="day" ng-model="class.day">
                    <option value="" selected>- Select Day -</option>
                    <option ng-repeat="day in [0,1,2,3,4]" value="{{day}}" ng-selected="day == class.day">{{ day | dayOfWeek }}</option>
            </select>
        </div>

        <div class="form-group">
            <label>Locaion</label>
            <input type="text" id="location" ng-model="class.location" class="form-control" placeholder='SA UTSA Relief Society' required>
        </div>

        <div class="form-group">
            <label>Start date</label>
            <input type="date" id="startDate" ng-model="class.start_date" class="form-control" required>
        </div>

        <div class="form-group">
            <label>End date</label>
            <input type="date" id="endDate" ng-model="class.end_date" class="form-control" required>
        </div>

        <div class="form-group">
            <label>Class Start Time</label>
            <input type="time" id="startTime" ng-model="class.time" class="form-control" required>
        </div>

        <div class="form-group">
            <label>Syllabus</label>
            <input type="file" id="syllabusFile" ng-model="class.syllabus">
        </div><br>

        <button type="submit" class="btn btn-primary" >{{ btnAction }}</button>

    </form>

    <!-- Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirm {{ modalTitle }}</h4>
                </div>
                <div class="modal-body">
                    <p><strong>{{class.name}}</strong></p>
                    <p><strong>{{class.start_date | date:'shortDate'}}</strong> - <strong>{{class.end_date | date:'shortDate'}}</strong></p>
                    <p>On: <strong>{{ class.day | dayOfWeek }}</strong> at <strong>{{class.time | time}}</strong>
                    <p>Located at: <strong>{{ class.location }}</strong>
                    <p ng-show="{{class.syllabusFile}}">Link to Syllabus: <strong>{{class.syllabus}}</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                    <button type="button" class="btn btn-success" ng-click="submit()">{{ btnAction }}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</section>



