<subtitle>Admin - New Class</subtitle>

<section>
    <form ng-submit="submit()">
        <label>
            Class name:<br>
            <input type="text" id="className" ng-model="class.name" required>
        </label>
        <label>
            Start date:<br>
            <input type="date" id="startDate" ng-model="class.startDate" required>
        </label>
        <label>
            End date:<br>
            <input type="date" id="endDate" ng-model="class.endDate" required>
        </label>
        <label>
            Class Start Time:<br>
            <input type="time" id="startTime" ng-model="class.startTime" required>
        </label>
        <label>
            Syllabus:<br>
            <input type="file" id="syllabusFile" ng-model="class.syllabusFile">
        </label>
        <br>
        <button type="submit" class="btn btn-primary" >Submit</button>
    </form>

    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <h3 id="myModalLabel">Confirm New Class</h3>
        </div>
        <div class="modal-body">
            <p><strong>{{class.name}}</strong></p>
            <p><strong>{{class.startDate | date:'shortDate'}}</strong> through <strong>{{class.endDate | date:'shortDate'}}</strong></p>
            <p>Class starts at <strong>{{class.startTime | time}}</strong></p>
            <p ng-show="{{class.syllabusFile}}">Link to Syllabus: <strong>{{class.syllabusFile}}</strong></p>
        </div>
        <div class="modal-footer">
            <button class="btn" ng-click="cancel()">Close</button>
            <button class="btn btn-success" ng-click="confirmSubmit()">Add Class</button>
        </div>
    </div>
</section>



