<div>
    <subtitle>Admin - {{className}}<span class="sub"> Study Cards</span></subtitle>

    <br>
    <div class="alert alert-info" ng-hide="studyCardArray.length > 0">No study cards yet.</div>

    <!-- CLASS AVERAGE -->
    <div class="panel panel-info" ng-show="studyCardArray.length > 0" ng-cloak>
        <div class="panel-heading">
            <h3 class="panel-title">Class Averages</h3>
        </div>
        <div class="panel-body">
            <ul class="flowlist">
                <li>Frequency: <strong>{{ classAverages.frequency }}</strong></li>
                <li style="display: inline-block">Prepare: <strong>{{ classAverages.percentPrepare }}%</strong></li>
                <li style="display: inline-block">Seek: <strong>{{ classAverages.percentSeek }}%</strong></li>
                <li style="display: inline-block">Do: <strong>{{ classAverages.percentDo }}%</strong></li>
                <li style="display: inline-block">Teach: <strong>{{ classAverages.percentTeach }}%</strong></li>
                <li>Read Assigned Block: <strong>{{ classAverages.percentRead }}%</strong></li>
            </ul>
        </div>
    </div>

    <!-- WEEKLY AVERAGES -->
    <div class="panel-group" id="accordion" ng-cloak>
        <div class="panel panel-default" ng-repeat="studyCards in studyCardArray">

            <a class="accordion-toggle" id="drop-down" data-toggle="collapse" data-parent="#accordion" data-target="#week-{{studyCards.week_number}}">
                <div class="panel-heading">
                    <h4 class="panel-title">Week {{ studyCards.week_number }}</h4>
                </div><!-- \.panel-heading -->
            </a>


            <div id="week-{{studyCards.week_number}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="flowlist">
                        <li>Total: <strong>{{ weekAvg[$index].numCards }}</strong></li>
                        <li>Frequency: <strong>{{ weekAvg[$index].frequency }}</strong> (avg)</li>
                        <li style="display: inline-block">Prepare: <strong>{{ weekAvg[$index].percentPrepare }}%</strong></li>
                        <li style="display: inline-block">Seek: <strong>{{ weekAvg[$index].percentSeek }}%</strong></li>
                        <li style="display: inline-block">Do: <strong>{{ weekAvg[$index].percentDo }}%</strong></li>
                        <li style="display: inline-block">Teach: <strong>{{ weekAvg[$index].percentTeach }}%</strong></li>
                        <li>Read Assigned Block: <strong>{{ weekAvg[$index].percentRead }}%</strong></li>
                    </ul>
                </div><!-- \.panel-body -->
            </div><!-- \.panel-collapse -->
        </div><!-- \.panel-default -->
    </div><!-- \.panel-group -->



    <!-- <accordion>
        <accordion-group ng-repeat="studyCards in studyCardArray">
            <accordion-heading>Week {{ studyCards.week_number }}</accordion-heading>
            <ul class="flowlist">
                <li>Total: <strong>{{ weekAvg[$index].numCards }}</strong></li>
                <li>Frequency: <strong>{{ weekAvg[$index].frequency }}</strong> (avg)</li>
                <li>Quality: <strong>{{ weekAvg[$index].quality }}</strong> (avg)</li>
                <li>Read Assigned Block: <strong>{{ weekAvg[$index].percentRead }}%</strong></li>
            </ul>
        </accordion-group>
    </accordion> -->


</div>