<div>
    <subtitle>Admin - Classes</subtitle>

        <a class="btn btn-primary" href="/admin/classes/add"><i class="icon-plus icon-white"></i> Add New Class</a>

        <dl>
            <div class="border-thin" ng-repeat="class in classes">
                <dt>{{ class.name }}</dt>
                <dd><a ng-href="/admin/classes/{{ class.name | lowercase }}/studycards?classid={{ class.id }}">Studycards</a></dd>
                <dd><a ng-href="/admin/classes/{{ class.name | lowercase }}/students">Students</a></dd>
                <dd><a ng-href="/admin/classes/{{ class.name | lowercase }}/teachers">Teacher(s)</a></dd>
            </div>

        </dl>


</div>