<div id="spinnn">
    <subtitle>Admin - Study Card Stats: {{className}}</subtitle>

    <section class="border-thin">
        <div class="title"><strong>Class Averages</strong></div>
        <ul class="flowlist">
            <li>Frequency: <strong>{{ classAverages.frequency }}</strong></li>
            <li>Quality: <strong>{{ classAverages.quality }}</strong></li>
            <li>Read Assigned Block: <strong>{{ classAverages.percentRead }}%</strong></li>
        </ul>
    </section>
    <br>


    <accordion>
        <accordion-group ng-repeat="studyCards in studyCardArray">
            <accordion-heading>Week {{ studyCards.weekNum }}</accordion-heading>
            <ul class="flowlist">
                <li>Total: <strong>{{ weekAvg[$index].numCards }}</strong></li>
                <li>Frequency: <strong>{{ weekAvg[$index].frequency }}</strong> (avg)</li>
                <li>Quality: <strong>{{ weekAvg[$index].quality }}</strong> (avg)</li>
                <li>Read Assigned Block: <strong>{{ weekAvg[$index].percentRead }}%</strong></li>
            </ul>
        </accordion-group>
    </accordion>


</div>