<div>
    <subtitle>Admin - {{className}}<span class="sub"> :Student List</span></subtitle>

    <div class="alert alert-info" ng-show="students.length==0">No Students.</div>

    <div>
        <span ng-hide="students.length==0" class="pull-right">
            <a class="btn btn-primary" href="" ng-click="exportCSV()" >Export Contacts</a>
            <span class="glyphicon glyphicon-question-sign" tooltip-placement="bottom"
                  tooltip="Export contacts into a .csv file which you can then import into Gmail (or any providor of choice)."></span>
        </span>
    </div>
    <br><br>
    <table class="table" ng-hide="students.length==0">
        <tr>
            <th>First Name</th><th>Last Name</th><th>Email</th><th>Phone</th>
        </tr>
        <tr ng-repeat="student in students">
            <td>{{ student.firstname }}</td>
            <td>{{ student.lastname }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.phone }}</td>
        </tr>
    </table>



</div>