<div>
    <subtitle>Admin</subtitle>

    <a class="btn btn-primary" href="/admin/classes/new"><i class="icon-plus icon-white"></i> Add New Class</a>
    <br><br>
    <div class="panel panel-default" ng-repeat="class in classes">
        <div class="panel-heading">
            {{ class.name }}
            <a ng-href="/admin/classes/{{class.name | lowercase }}/edit?classid={{ class.id }}">Edit</a>
            <a href="" ng-click="confirmDelete(class)">Delete</a>
        </div>
        <div class="panel-body">
            <ul class="flowlist">
                <li><a ng-href="/admin/classes/{{ class.name | lowercase }}/studycards?classid={{ class.id }}">Studycards</a></li>
                <li><a ng-href="/admin/classes/{{ class.name | lowercase }}/students?classid={{ class.id }}">Student List</a></li>
                <li><a ng-href="/admin/classes/{{ class.name | lowercase }}/comments?classid={{ class.id }}">Comments & Questions</a></li>
            </ul>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirm Delete</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete class: <strong>{{ classToBeDeleted.name }}</strong>?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                    <button class="btn btn-danger" ng-click="deleteClass(classToBeDeleted)">Delete</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>