<div>
    <subtitle>Admin - {{className}}<span class="sub"> :Comments</span></subtitle>

    <br>
    <p ng-hide="comments.length>0">No comments yet.</p>
    <div class="panel-group" id="accordion" ng-cloak>
        <div class="panel panel-default" ng-repeat="week in comments">
            <div class="panel-heading">
                <a class="accordion-toggle" id="drop-down" data-toggle="collapse" data-parent="#accordion" data-target="#week-{{week.weekNum}}">
                    <h4 class="panel-title">Week {{ week.weekNum }}</h4>
                </a>
            </div><!-- \.panel-heading -->

            <div id="week-{{week.weekNum}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="well well-sm well-info" ng-repeat="comment in week">
                        {{ comment.notes }}
                    </div>
                </div><!-- \.panel-body -->
            </div><!-- \.panel-collapse -->
        </div><!-- \.panel-default -->
    </div><!-- \.panel-group -->



    <!-- <accordion>
        <accordion-group ng-repeat="studyCards in studyCardArray">
            <accordion-heading>Week {{ studyCards.weekNum }}</accordion-heading>
            <ul class="flowlist">
                <li>Total: <strong>{{ weekAvg[$index].numCards }}</strong></li>
                <li>Frequency: <strong>{{ weekAvg[$index].frequency }}</strong> (avg)</li>
                <li>Quality: <strong>{{ weekAvg[$index].quality }}</strong> (avg)</li>
                <li>Read Assigned Block: <strong>{{ weekAvg[$index].percentRead }}%</strong></li>
            </ul>
        </accordion-group>
    </accordion> -->


</div>